{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="navbar">
    <h1>글 작성</h1>
</div>
<div id="post-add">
    <form method="POST">
    {% csrf_token %}
    <div>
        <label>제목</label>
        <input name="title" type="text">
    </div>
    <div>
        <label>내용</label>
        <textarea name="content"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">작성</button>
</form>
</div>

</body>
</html>